{% extends "base.html" %} 
{% block title %}Donder - Hill Walking and Hiking Tracker for UK & Ireland{% endblock %}
{% block metatag %} 
<meta name="description" content="This blog gives the ">
{% endblock metatag %}
{% load static  %}
{% block content %}
<style>

    body {
        font-family: "Quicksand";
        font-size: 16.5px;
        background-color: #ffffff !important;
    }


    .card {
        border: 0;
        background-color: #ffffff !important;

    }

    .title {
        font-size: 2.85rem;
        line-height: 1.143;
        letter-spacing: -0.05rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        /*font-size:2.25vw;*/
    }

    .sub-title {
        font-size: 1.25rem;
        letter-spacing: 0rem;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-top: 0rem;
        font-style: italic;
/*        font-size:1.0vw;*/

    }


    .title-img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        /*border: 5px solid #555;*/
        text-align: center;
    }


    .subheadings {
        font-size: 1.15rem;
        /*letter-spacing: -0.05rem;*/
        margin-top: 0;
        /*margin-bottom: 2rem;*/
        margin-top: 2rem;
        font-weight: 550;

    }

    figcaption {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        text-align: center;
        font-style: italic;
    }


    pre {
        background: #1d2021;
        /*overflow-x: auto;*/
        border: none;
    }

    code {
        font-size: 0.8rem !important; 
        margin: 0.5rem;
        /*padding: 1rem;*/
        /*white-space: nowrap;*/
        background: #263238;
        color: #000000;
        border-radius: 0px;
        overflow-y: scroll;
        overflow-x: scroll;
        height: 500px;
    }

    code::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    code {
        -ms-overflow-style: none; 
        scrollbar-width: none;
        margin-top: -1rem;  

    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        /*transform: translate(0%,50%);*/
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 12px;
        transition: 0.3s;
        font-size: 14px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    #env.py, #run.py{
        display: none;
        border: none;    
    }

    .date {
        margin-top: 0rem;
        margin-bottom: 0.5rem;
        font-size: 0.8rem !important; 
        /*position: absolute;*/
        float: right;
        background-color: yellow;
        z-index: 9;
    }

    #twitter-share {
        opacity: 1.0 !important;
    }

    #linkedin-share {
        opacity: 1.0 !important;
        /*color: rgba(255,255,255,0.7) !important;*/
    }

    .animation_ {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        text-align: center;

    }

    .main_text {
        text-align: justify; 
        line-height: 1.75;
    }


    @media screen and (max-width: 850px) {
    .title {
        font-size: 2.10rem;
    }
    .sub-title {
        font-size: 0.95rem;
    }
    }



</style>


<script>
window.MathJax = {
  chtml: {
  preferredFont: "TeX",
    minScaleAdjust: 100,
    matchFontHeight: false,
  },
  svg: {
    preferredFont: "TeX",
    minScaleAdjust: 100,
    matchFontHeight: false,

  }
};
</script>


<div class="container">
  <div class="row">
    <div class="col-md-14 card mb-4 mt-4 center top">
      <div class="card-body">

        <div>
            <h1 class="title">Donder - Hill Walking Tracker</h1>
            <h2 class="sub-title">My first venture into building a SaaS based product, providing users with the ability to track their hill walking and hiking progress.</h2>
            <hr style="border-width: 1px; color: #1d2021; margin-bottom: 0.3rem;">
            <a style="float:right; font-size: 0.8rem; ">Jun 3, 2023</a>
        </div>
        
        <div>
            <a style="position: absolute; transform: translate(10%, -20%);" id="twitter-share" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a style="position: absolute; transform: translate(10%, -20%);" id="linkedin-share"><script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
            <script type="IN/Share" data-url={{ request.get_full_path }}></script></a>
        </div>

        <div>
            <img src="{% static 'image/Post_4/social-media-thumbnail.webp'%}" style="margin-top: 10px;" class="title-img">
            <!-- <figcaption style="font-size: 0.8rem;"><strong></strong> Animation freeze frame, illustrating the yaw mis-alignment relative to changing wind-speeds</figcaption> -->
        </div>

        <h3 class="subheadings">Donder</h3>

        <p class="main_text"> <a href="https://www.donder.co.uk" target="_blank">donder.co.uk</a>
        </p>


         
      </div>
    </div>
  </div>
</div>










{%endblock%}